.hardware {
  background-color: whitesmoke;
  width: 800px;
  height: 900px;
  padding: 75px;
  margin: 0 auto;
}

.outerCircle {
  width: 650px;
  height: 650px;
  border-radius: 375px;
  border: 3px solid black;
  padding: 125px;
  background-color: white;
}

.innerCircle {
  width: 400px;
  height: 400px;
  border-radius: 200px;
  background-color: hsl(0,0%,15%);
  padding: 60px;
}

.LEDDisplay {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  background-color: hsl(255, 100%, 30%);
  color: white;
  margin: 0 auto;
}

.medContainer {
  justify-content: center;
  align-items: center; 
}

.medText {
  font-size: 50px;
}

.alignDispensePill {
  position: relative;
  top: 100px;
  left: 150px; /* This is from the left edge of the innerCircle. ewwwwwwww */
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
